alabaster==0.7.12
Babel==2.10.3
docutils==0.19
docutils-ast-writer==0.1.2
imagesize==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.1
Pygments==2.12.0
pytz==2022.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.0.2
